body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

header {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #003366; 
        padding: 10px 20px;
    }
    
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo img {
        height: 60px;
        margin-right: 10px;
    }
    
    .logo span {
        font-size: 1.8rem;
        color: #ffffff; 
        margin-right: 5px;
    }
    
    .logo small {
        color: #ffffff; 
        font-size: 0.8rem;
    }
    
    .search-bar {
        display: flex;
        align-items: center;
    }
    
    .search-bar input {
        padding: 5px 10px;
        border-radius: 5px 0 0 5px;
        border: 2px solid #ffffff; 
        color: #333;
    }
    
    .search-bar button {
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        border: 2px solid #ffffff; 
        background-color: #ffffff; 
        color: #003366; 
        cursor: pointer;
    }
    
    .search-bar button:hover {
        background-color: #eeeeee; /* Light gray color for hover effect */
    }

#logo {
    width: 150px;
}

#search-box {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 200px;
}

#search-btn {
    padding: 8px 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }